* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, a:focus {outline: none}
:active, a:active {outline: none}

header, footer, nav {display: block}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h6 {font-family: inherit; font-weight: 400;}

input, button, textarea{font-family: inherit}

input::-ms-clear{display: none;}
button::-moz-focus-inner{padding: 0; border: 0;}
button {cursor: pointer;}
a, a:visited, a:hover {text-decoration: none;}
ul li {text-decoration: none;}
ul {list-style: none;}
img{vertical-align: top;}